# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare text files we want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.ceh text
*.h text
*.TXT text

# Denote all files that are truly binary and should not be modified.
*.cdf binary

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

# Source files
# ============
*.m             text diff=matlab
*.mu            text

# Caution: *.m also matches Mathematica packages.

# Binary files
# ============
*.mlapp -crlf diff=matlabdif -merge
*.mlx -crlf diff=matlabdif -merge
*.mat -crlf diff=matlabdif -merge
*.fig -crlf -diff -merge
*.p -crlf -diff -merge
*.slx -crlf -diff -merge
*.mdl -crlf -diff -merge